<nav class="sidenav">
  <ul>
    <li><a routerLink="/opcion1">Opción 1</a></li>
    <li><a routerLink="/opcion2">Opción 2</a></li>
    <li><a routerLink="/opcion3">Opción 3</a></li>
    <li><a routerLink="/opcion4">Opción 4</a></li>
    <li>
      <a href="#">Desplegable</a>
      <ul>
        <li><a routerLink="/subopcion1">Subopción 1</a></li>
        <li><a routerLink="/subopcion2">Subopción 2</a></li>
        <li><a routerLink="/subopcion3">Subopción 3</a></li>
      </ul>
    </li>
  </ul>
</nav>